.alert{
    border-radius:3px
}
.alert h4{
    font-weight:600
}
.alert .icon{
    margin-right:10px
}
.alert .close{
    color:#000;
    opacity:.2;
    filter:alpha(opacity=20)
}
.alert .close:hover{
    opacity:.5;
    filter:alpha(opacity=50)
}
.alert a{
    color:#fff;
    text-decoration:underline
}
.alert.success{
    border-color:#008d4c
}
.alert.danger,.alert.error{
    border-color:#d73925
}
.alert.warning{
    border-color:#e08e0b
}
.alert.info{
    border-color:#00acd6
}

.bg-red, .callout.callout-danger, .alert.danger, .alert.error, .label.danger, .modal.danger .modal-body {
    background-color: #dd4b39 !important;
    color: white;
}

.bg-green, .callout.callout-success, .alert.success, .label.success, .modal.success .modal-body {
    background-color: #00a65a !important;
    color: white;
}