<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Alternative $alternative
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Alternative'), ['action' => 'edit', $alternative->ID]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Alternative'), ['action' => 'delete', $alternative->ID], ['confirm' => __('Are you sure you want to delete # {0}?', $alternative->ID)]) ?> </li>
        <li><?= $this->Html->link(__('List Alternatives'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Alternative'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="alternatives view large-9 medium-8 columns content">
    <h3><?= h($alternative->ID) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Text') ?></th>
            <td><?= h($alternative->text) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('ID') ?></th>
            <td><?= $this->Number->format($alternative->ID) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Iscorrect') ?></th>
            <td><?= $this->Number->format($alternative->iscorrect) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Iditems') ?></th>
            <td><?= $this->Number->format($alternative->iditems) ?></td>
        </tr>
    </table>
</div>
